<!-- <app-user></app-user>  -->
<!-- <h1>hello angular</h1> -->
<!-- <app-username></app-username> -->
<!-- <app-registration></app-registration> -->
<!-- <nav class="navbar navbar-expand-sm navbar-light bg-primary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">primary</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarID"
            aria-controls="navbarID" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mx-auto" id="navbarID">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" [routerLink]="['']"   >Home</a>       
            </div>
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" [routerLink]="['login']"  >Login</a>       
            </div>
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" [routerLink]="['todo']"  >todo</a>       
            </div>
        </div>
    </div>
</nav> -->
<!-- <router-outlet> -->
    <!-- <a routerLink="/"><app-registration></app-registration></a> <br>
    <a routerLink="/registration"><app-registration></app-registration></a> <br>  -->
<!-- </router-outlet> -->
<!-- <app-login></app-login> -->
<!-- <app-todo></app-todo> -->
<app-fleohackerthon></app-fleohackerthon> 
<!-- <app-reactiveform></app-reactiveform> -->