<div class="backimg">
    <div class="container">
        <div class="blackcolor"></div>
        <div class="row">
          
            <div class="col-lg-6 mx-auto">
                <div class='card'>
                    <div class="card-header">
                        <h4 class="text-center tex-dark">Change password 🔑</h4>
                    </div>
                <div class='card-body'>
                   <form #form='ngForm' (ngSubmit)='changepassword(form)'>
                       <div class='form-floating '>
                           <input type='text' name='oldpassword' ngModel class='form-control'
                               placeholder='Enter your old password' id="oldpass" required #oldpassword='ngModel'[ngClass]="{'is-invalid': oldpassword.invalid && oldpassword.touched, 'is-valid': oldpassword.valid }">
                               <label for='#oldpass'> <i class="fa fa-lock" aria-hidden="true"></i> Enter your old password </label>
                           <p class='invalid-feedback'>please provide this</p>
                       </div>
                       
                       <div class='form-floating my-2'>
                           <input type='text' name='newpassword' ngModel class='form-control '
                               placeholder='  new password' id="newpass" required #newpassword='ngModel'[ngClass]="{'is-invalid': newpassword.invalid && newpassword.touched, 'is-valid': newpassword.valid }">
                               <label for='#newpass'> <i class="fa fa-key" aria-hidden="true"></i> new password </label>
                           <p class='invalid-feedback'>please provide this</p>
                       </div>
                       <div class='form-floating my-2'>
                            
                           <input type='text' name='connewpassword' ngModel class='form-control '
                               placeholder=' Confirm new password' id="newconpass" required #connewpassword='ngModel'[ngClass]="{'is-invalid': connewpassword.invalid && connewpassword.touched, 'is-valid': connewpassword.valid }">
                               <label for='#newconpass'> <i class="fa fa-key" aria-hidden="true"></i> Confirm new password </label>
                           <p class='invalid-feedback'>please provide this</p>
                       </div>
                       
                      <div class="d-flex justify-content-between">
                       <button class="btn btn-success my-2" type="submit"[disabled]="!form.form.valid">Change password</button>
                        
                        <button class="btn btn-danger my-2"><a routerLink="../todo" class="mylink link-light">cancel</a></button>
                      </div>
                   </form>
                </div>
                 </div>
            </div>
        </div>
    </div>
</div>